<div class="row">
	<div class="col-lg-12">
		<h1 class="text-center">Rock, Paper, Scissors, Sinatra, Deano</h1>
		<h1 class="text-center">So what's your name, Charley?</h1>
	</div>
</div>
</br>
<form action="/register" method="POST">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="row">
			<input class="input-lg btn-block" type="text" name="name" autofocust="autofocus" placeholder="It goes here you mook">
		</div>
		</br>
		<div class="row">
			<button class="btn btn-primary btn-lg btn-block">Play!</button>
		</div>
		<div class="col-lg-4"></div>
</form>