<h1 class="text-center">OK then <%= @player%>. Go ape.</h1>
<form action="/play" method="POST">
	<div class="jumbotron" style="background: url(img/frank_dino3.jpg) no-repeat center">
	</div>
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div class="btn-group btn-group-lg btn-group-justified">
			<div class="btn-group">
				<button class="btn" name="pick" value="Paper">Paper</button>
			</div>
			<div class="btn-group">
				<button class="btn" name="pick" value="Rock">Rock</button>
			</div>
			<div class="btn-group">
				<button class="btn" name="pick" value="Scissors">Scissors</button>
			</div>
			<div class="btn-group">
				<button class="btn" name="pick" value="Sinatra">Sinatra</button>
			</div>
			<div class="btn-group">
				<button class="btn" name="pick" value="Dino">Dino</button>
			</div>
		</div>
	</div>
	<input type="hidden" name="name" value=<%=@player%>>
	<div class="col-lg-2"></div>
</form>
